@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  text-decoration: none;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header .top_color {
  background-color: #43c3ea;
  height: 10px;
}

header .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 70px;
  padding: 20px 30px;
  background: #fbfbfb;
}

header .topbar .logo_container {
  height: 70px;
  width: 200px;
}

header .topbar .logo_container img {
  height: 100%;
  width: 100%;
}

header .topbar .topbar_links_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
}

header .topbar .topbar_links_container .topbar_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  line-height: 1.3;
}

header .topbar .topbar_links_container .topbar_links .icon_container i {
  border: 1px dashed #8b8b8b;
  padding: 10px 8px;
  margin-right: 15px;
  border-radius: 1px;
  color: #8b8b8b;
}

header .topbar .topbar_links_container .topbar_links .text_container .header {
  font-weight: bold;
  font-size: 16px;
}

header .topbar .topbar_links_container .topbar_links .text_container .text {
  font-size: 14px;
  font-weight: 400;
  color: #8b8b8b;
}

header .topbar .topbar_btn a {
  border: 1px solid #43c3ea;
  color: #43c3ea;
  padding: 8px 25px;
  border-radius: 5px;
  font-weight: 500;
}

header .topbar .topbar_btn a:hover {
  background-color: #43c3ea;
  color: #fff;
}

header .topbar .menu_burger {
  display: none;
}

#top_btn .modal-content {
  margin: 0px 20px;
}

#top_btn .modal-header {
  border-bottom: none;
}

#top_btn .modal-header .modal_header .text {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  font-weight: 900;
  color: #2e2751;
  margin-top: 20px;
  margin-bottom: 10px;
}

#top_btn .modal-header .modal_header .para {
  font-size: 14px;
  text-align: center;
  color: #2e2751;
  line-height: 1.8;
}

#top_btn .modal-body form .form-control {
  font-size: 14px;
}

#top_btn .modal-footer {
  position: relative;
  border-top: none;
}

#top_btn .modal-footer .modal_btn {
  position: absolute;
  right: -14px;
  bottom: -14px;
}

#top_btn .modal-footer .modal_btn a {
  background-color: #43c3ea;
  color: #ffffff;
  padding: 0px 27px;
  font-size: 35px;
}

nav {
  background-color: #152545;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}

nav .navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 30px;
}

nav .navbar_container .navigation_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navbar_container .navigation_links ul li {
  padding: 10px 0px;
}

nav .navbar_container .navigation_links ul a {
  padding: 0px 15px;
  border-right: 1px double #5678bc;
  color: #43c3ea;
  font-size: 14px;
  font-weight: 600;
}

nav .navbar_container .navigation_links ul a:hover {
  color: #fff;
}

nav .navbar_container .navigation_links ul .active {
  background-color: #43c3ea;
  color: white;
  padding: 17px 15px 16px;
}

nav .navbar_container .social_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar_container .social_links ul li {
  padding: 10px 0px;
}

nav .navbar_container .social_links ul li a {
  color: #ffffff;
  padding-left: 15px;
  font-size: 20px;
}

nav .navbar_container .social_links ul li a:hover {
  color: #43c3ea;
}

nav .navbar_container .social_links ul .search {
  background-color: #ff7700;
  margin-left: 15px;
}

nav .navbar_container .social_links ul .search a {
  padding: 0px 15px;
  font-size: 20px;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 50;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  color: #0186ce;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #074da2;
  background-color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 0;
}

@media screen and (max-width: 1100px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 12;
  }
  header .topbar {
    -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
            box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
    padding: 0px 30px;
  }
  header .topbar .logo_container {
    height: 50px;
    width: 100px;
  }
  header .topbar .logo_container img {
    height: 100%;
    width: 100%;
  }
  header .topbar .topbar_links_container {
    display: none;
  }
  header .topbar .menu_burger {
    display: block;
  }
  nav {
    display: none;
  }
}

.owl-nav {
  text-align: center;
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  text-align: center;
  line-height: 34px;
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  margin-right: 15px;
}

footer .footer-main {
  padding: 35px 30px;
  background-color: #054a6a;
  color: #ffffff;
}

footer .footer-main .footer-block {
  margin-bottom: 20px;
}

footer .footer-main .footer-block .title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-bottom: 8px;
  position: relative;
  margin-top: 30px;
}

footer .footer-main .footer-block .info {
  margin-top: 22px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

footer .footer-main .footer-block .info li {
  margin-bottom: 15px;
}

footer .footer-main .footer-block .info i {
  margin-right: 10px;
  font-size: 128.57%;
}

footer .footer-main .footer-block .top-links {
  margin-top: 15px;
}

footer .footer-main .footer-block .top-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

footer .footer-main .footer-block .top-links ul li {
  margin-right: 20px;
  font-size: 16px;
}

footer .footer-main .footer-block .top-links ul li a {
  display: block;
  color: #707070;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  font-size: 20px;
}

footer .footer-main .footer-block .top-links ul li a:hover {
  color: #43c3ea;
}

footer .footer-main .footer-block .content .logo {
  height: 70px;
  margin-bottom: 30px;
}

footer .footer-main .footer-block .content .logo img {
  height: 100%;
}

footer .footer-main .footer-block .content .content {
  font-size: 14px;
}

footer .footer-main .footer-block .content .links li {
  padding-bottom: 15px;
}

footer .footer-main .footer-block .content .links li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

footer .footer-main .footer-block .content .links li a:hover {
  color: #43c3ea;
}

footer .footer-main .footer-block .content .links li::before {
  content: "\2022";
  font-weight: bold;
  margin-right: 20px;
}

footer .footer-main .footer-block .recent-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #43c3ea;
  padding-bottom: 20px;
}

footer .footer-main .footer-block .recent-news .img-container {
  height: 80px;
  width: 100px;
}

footer .footer-main .footer-block .recent-news .img-container img {
  height: 100%;
  width: 100%;
}

footer .footer-main .footer-block .recent-news .text {
  font-size: 12px;
  margin-left: 20px;
}

footer .footer-main .footer-block .recent-news .text .recent-btn {
  margin-top: 20px;
}

footer .footer-main .footer-block .recent-news .text .recent-btn a {
  color: #43c3ea;
  font-size: 14px;
  font-weight: 500;
}

footer .footer-main .footer-block .rn-2 {
  margin-top: 20px;
  border-bottom: none;
}

footer .footer-bottom {
  background-color: #053951;
  font-size: 14px;
  margin-bottom: 0;
  color: #999999;
  padding: 15px 30px;
}

footer .footer-bottom a {
  color: #43c3ea;
}

footer #button {
  display: inline-block;
  background-color: #152545;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 5px;
  right: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

footer #button i {
  font-size: 25px;
  margin-top: 8px;
  color: #fff;
}

footer #button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
}

footer #button:hover {
  cursor: pointer;
  background-color: #43c3ea;
}

footer #button:active {
  background-color: #555;
}

footer #button.show {
  opacity: 1;
  visibility: visible;
}

.index .index_banner_container {
  color: white;
  position: relative;
}

.index .index_banner_container .index_banner_text_container {
  margin-left: 100px;
  max-width: 650px;
  padding: 150px 20px 300px 20px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.index .index_banner_container .index_banner_text_container div:nth-child(1) {
  font-size: 20px;
  margin-bottom: 13px;
}

.index .index_banner_container .index_banner_text_container div:nth-child(2) {
  font-size: 50px;
  line-height: 1.3;
  margin-bottom: 50px;
  font-weight: bold;
}

.index .index_banner_container .index_banner_text_container a {
  font-weight: 600;
  background-color: #ff7700;
  border-radius: 5px;
  border: 0 solid transparent;
  color: #ffffff;
  font-size: 20px;
  outline: none;
  padding: 15px 40px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.index .index_banner_container .index_banner_text_container a:hover {
  background-color: #43c3ea;
  color: #fff;
}

.index .index_banner_container .index_banner_background_gradient {
  background: -webkit-gradient(linear, left top, right top, from(#2d3954), color-stop(85%, rgba(39, 16, 102, 0)), color-stop(0, rgba(39, 16, 102, 0)), to(#2d3954));
  background: linear-gradient(90deg, #2d3954, rgba(39, 16, 102, 0) 85%, rgba(39, 16, 102, 0) 0, #2d3954);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom-left-radius: 20% 10%;
  border-bottom-right-radius: 20% 10%;
}

.index .index_banner_container .index_banner_background_image {
  background-image: url(../images/repair.jpg);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  z-index: 1;
  border-bottom-left-radius: 40% 20%;
  border-bottom-right-radius: 40% 20%;
}

@media screen and (max-width: 991px) {
  .index .index_banner_container .index_banner_text_container {
    padding: 120px 20px 250px 20px;
    margin: 0 auto;
    text-align: center;
  }
  .index .index_banner_container .index_banner_text_container div:nth-child(1) {
    font-size: 18px;
  }
  .index .index_banner_container .index_banner_text_container div:nth-child(2) {
    font-size: 34px;
  }
  .index .index_banner_container .index_banner_text_container a {
    padding: 10px 25px;
    font-size: 18px;
  }
}

.index .banner_box_container {
  position: relative;
  z-index: 4;
  margin: -145px 30px 30px 30px;
}

.index .banner_box_container .trips_container .trips_1 {
  padding: 60px;
  text-align: -webkit-center;
  text-align: -moz-center;
  background-color: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 10px;
}

.index .banner_box_container .trips_container .trips_1 .trips_icon {
  color: #ffffff;
  background: #72ae26;
  border-radius: 50%;
  border-top-left-radius: 0%;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-size: 35px;
}

.index .banner_box_container .trips_container .trips_1 .trips_details .trips_details_header {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: #2e2751;
}

.index .banner_box_container .trips_container .trips_2 {
  padding: 30px 30px;
  height: 400px;
  text-align: -webkit-center;
  text-align: -moz-center;
  background-color: #72ae26;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 10px;
}

.index .banner_box_container .trips_container .trips_2 .trips_details .trips_details_header {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 30px;
}

.index .banner_box_container .trips_container .trips_2 .trips_details .trips_details_para {
  line-height: 1.8;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
}

.index .banner_box_container .trips_container .trips_2 .trips_details .trips_details_btn {
  text-align: right;
}

.index .banner_box_container .trips_container .trips_2 .trips_details .trips_details_btn a {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .index .banner_box_container .trips_container .trips_1 {
    padding: 30px;
    margin-bottom: 30px;
  }
  .index .banner_box_container .trips_container .trips_1 .trips_details .trips_details_header {
    font-size: 20px;
  }
}

.index .services_container {
  text-align: center;
  margin: 0px 30px;
  padding: 70px 0px;
}

.index .services_container .services_header .top_btn a {
  background-color: #72ae26;
  padding: 3px 20px;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
}

.index .services_container .services_header .header {
  font-size: 25px;
  margin: 20px 0px 10px 0px;
  color: #2e2751;
  font-weight: bold;
  text-transform: uppercase;
}

.index .services_container .services_header .sub_header {
  color: #2d2d2d;
  margin-bottom: 60px;
}

.index .services_container .services_box_container .service_1 {
  padding: 30px;
  text-align: -webkit-center;
  text-align: -moz-center;
  background-color: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  color: #2d2d2d;
}

.index .services_container .services_box_container .service_1 .trips_icon {
  color: #72ae26;
  background: #ffffff;
  border: 1px solid #79b32f;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.index .services_container .services_box_container .service_1 .trips_details .trips_details_header {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #034a6a;
  margin-bottom: 20px;
}

.index .product_banner_container {
  position: relative;
}

.index .product_banner_container .product_header {
  text-align: center;
  position: relative;
  z-index: 3;
  padding: 50px 0px;
}

.index .product_banner_container .product_header .top_btn a {
  background-color: #72ae26;
  padding: 3px 20px;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
}

.index .product_banner_container .product_header .header {
  font-size: 30px;
  margin: 20px 0px 10px 0px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.index .product_banner_container .product_header .sub_header {
  color: #2d2d2d;
  color: #ffffff;
}

.index .product_banner_container .index_banner_background_gradient {
  background: -webkit-gradient(linear, left top, right top, from(#2d3954), color-stop(85%, rgba(39, 16, 102, 0)), color-stop(0, rgba(39, 16, 102, 0)), to(#2d3954));
  background: linear-gradient(90deg, #2d3954, rgba(39, 16, 102, 0) 85%, rgba(39, 16, 102, 0) 0, #2d3954);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.index .product_banner_container .index_banner_background_image {
  background-image: url(../images/product.png);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.index .products_container {
  margin: 50px 30px;
}

.index .products_container .product_1 {
  background-color: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
}

.index .products_container .product_1 .image_container {
  height: 250px;
  padding: 20px;
}

.index .products_container .product_1 .image_container img {
  height: 100%;
  border-radius: 2px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index .products_container .product_1 .text {
  text-align: center;
  color: #034a6a;
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: 600;
}

.index .products_container .product_btn {
  text-align: center;
  margin-top: 50px;
}

.index .products_container .product_btn a {
  text-transform: uppercase;
  color: #43c3ea;
  border: 1px solid #43c3ea;
  border-radius: 5px;
  padding: 10px 20px;
}

.index .products_container .product_btn a:hover {
  background-color: #43c3ea;
  color: #fff;
}

.index .about_container .about_banner_container {
  color: white;
  position: relative;
}

.index .about_container .about_banner_container .about_banner_text_container {
  margin-left: 55%;
  max-width: 500px;
  padding: 80px 20px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.index .about_container .about_banner_container .about_banner_text_container .header {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.index .about_container .about_banner_container .about_banner_text_container .para {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.index .about_container .about_banner_container .about_banner_text_container .about_btn {
  text-align: right;
}

.index .about_container .about_banner_container .about_banner_text_container .about_btn a {
  font-weight: 500;
  border: 0 solid transparent;
  color: #ffffff;
  font-size: 18px;
  text-align: left;
}

.index .about_container .about_banner_container .about_banner_background_gradient {
  background: -webkit-gradient(linear, left top, right top, from(#2d3954), color-stop(85%, rgba(39, 16, 102, 0)), color-stop(0, rgba(39, 16, 102, 0)), to(#2d3954));
  background: linear-gradient(90deg, #2d3954, rgba(39, 16, 102, 0) 85%, rgba(39, 16, 102, 0) 0, #2d3954);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.index .about_container .about_banner_container .about_banner_background_image {
  background-image: url(../images/about.png);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .index .about_container .about_banner_container .about_banner_text_container {
    margin: auto;
    text-align: center;
  }
}

.index .why_container {
  text-align: center;
  margin: 0px 30px;
  padding: 70px 0px;
}

.index .why_container .why_header .top_btn a {
  background-color: #72ae26;
  padding: 3px 40px;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
}

.index .why_container .why_header .header {
  font-size: 25px;
  margin: 20px 0px;
  color: #2e2751;
  text-transform: uppercase;
  font-weight: bold;
}

.index .why_container .product_1 {
  background-color: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 5px;
  margin: 20px 0px 30px 0px;
  height: 204px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index .why_container .product_1 .image_container {
  height: 80px;
  width: 80px;
}

.index .why_container .product_1 .image_container img {
  margin: 20px auto;
  width: 100%;
  height: 100%;
}

.index .why_container .product_1 .text {
  text-align: center;
  color: #034a6a;
  font-size: 13px;
  padding: 40px 3px;
  text-transform: uppercase;
  font-weight: 700;
}

.index .testimonial_container {
  padding: 70px 0px;
  background: #f7f7f7;
}

.index .testimonial_container .testi_header {
  text-align: center;
}

.index .testimonial_container .testi_header .top_btn a {
  background-color: #72ae26;
  padding: 3px 20px;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
}

.index .testimonial_container .testi_header .header {
  font-size: 25px;
  margin: 20px 0px;
  color: #2e2751;
  text-transform: uppercase;
  font-weight: bold;
}

.index .testimonial_container .testimonial_box {
  margin: 20px 30px;
}

.index .testimonial_container .testimonial_box .para {
  background-color: #ffffff;
  padding: 20px;
  text-align: justify;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.8;
}

.index .testimonial_container .testimonial_box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .testimonial_container .testimonial_box .info .image_container {
  height: 74px;
  width: 74px;
  margin-right: 20px;
}

.index .testimonial_container .testimonial_box .info .image_container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index .testimonial_container .testimonial_box .info .text_container .name_1 {
  color: #2e2751;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

.index .testimonial_container .testimonial_box .info .text_container .name_2 {
  color: #2d2d2d;
  font-size: 15px;
}

.category .category_banner_container {
  position: relative;
}

.category .category_banner_container .category_header {
  position: relative;
  z-index: 3;
  padding: 50px 40px 0px;
  max-width: 600px;
}

.category .category_banner_container .category_header .header {
  font-size: 30px;
  margin: 20px 0px 10px 0px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.category .category_banner_container .category_header .sub_header {
  color: #2d2d2d;
  color: #ffffff;
}

.category .category_banner_container .search-container {
  position: relative;
  z-index: 3;
  padding-bottom: 40px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.category .category_banner_container .search-container .category-bread {
  margin-bottom: 20px;
}

.category .category_banner_container .search-container .category-bread ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category .category_banner_container .search-container .category-bread ul li {
  margin-left: 10px;
}

.category .category_banner_container .search-container .category-bread ul li a {
  color: #fff;
  cursor: pointer;
}

.category .category_banner_container .search-container .category-bread ul li .active {
  color: #43c3ea;
}

.category .category_banner_container .search-container .search input {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  color: #142340;
  background-color: #f0eded99;
  font-size: 18px;
}

.category .category_banner_container .search-container .search input:focus {
  outline: none;
}

.category .category_banner_container .index_banner_background_gradient {
  background: -webkit-gradient(linear, left top, right top, from(#2d3954), color-stop(85%, rgba(39, 16, 102, 0)), color-stop(0, rgba(39, 16, 102, 0)), to(#2d3954));
  background: linear-gradient(90deg, #2d3954, rgba(39, 16, 102, 0) 85%, rgba(39, 16, 102, 0) 0, #2d3954);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.category .category_banner_container .index_banner_background_image {
  background-image: url(../images/product.png);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.category .category_products {
  margin: 50px 30px 100px;
}

.category .category_products .products {
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.category .category_products .products a:hover .header {
  color: #ff7700;
}

.category .category_products .products a:hover .product-btn span {
  background-color: #ff7700;
}

.category .category_products .products .image_container img {
  width: 100%;
}

.category .category_products .products .header {
  margin: 20px;
  color: #034a6a;
  font-size: 22px;
  font-weight: bold;
}

.category .category_products .products .para {
  margin: 0px 20px;
  text-align: justify;
  color: #2d2d2d;
}

.category .category_products .products .product-btn {
  text-align: right;
  margin-top: 40px;
}

.category .category_products .products .product-btn span {
  background-color: #333333;
  color: white;
  padding: 10px 15px;
}

.category .category_products .product_btn {
  text-align: center;
  margin-top: 50px;
}

.category .category_products .product_btn a {
  text-transform: uppercase;
  color: #43c3ea;
  border: 1px solid #43c3ea;
  border-radius: 5px;
  padding: 10px 100px;
}

.category .category_products .product_btn a:hover {
  background-color: #43c3ea;
  color: #fff;
}

.category .product_banner_container {
  position: relative;
}

.category .product_banner_container .product_header {
  text-align: center;
  position: relative;
  z-index: 3;
  padding: 50px 0px;
}

.category .product_banner_container .product_header .top_btn a {
  background-color: #72ae26;
  padding: 3px 20px;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
}

.category .product_banner_container .product_header .header {
  font-size: 30px;
  margin: 20px 0px 10px 0px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.category .product_banner_container .product_header .sub_header {
  color: #2d2d2d;
  color: #ffffff;
}

.category .product_banner_container .index_banner_background_gradient {
  background: -webkit-gradient(linear, left top, right top, from(#2d3954), color-stop(85%, rgba(39, 16, 102, 0)), color-stop(0, rgba(39, 16, 102, 0)), to(#2d3954));
  background: linear-gradient(90deg, #2d3954, rgba(39, 16, 102, 0) 85%, rgba(39, 16, 102, 0) 0, #2d3954);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.category .product_banner_container .index_banner_background_image {
  background-image: url(../images/product.png);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.category .products_container {
  margin: 50px 30px 100px;
}

.category .products_container .product_1 {
  background-color: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
}

.category .products_container .product_1 .image_container {
  height: 250px;
  padding: 20px;
}

.category .products_container .product_1 .image_container img {
  height: 100%;
  border-radius: 2px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category .products_container .product_1 .text {
  text-align: center;
  color: #034a6a;
  font-size: 24px;
  padding-bottom: 20px;
}

.category .products_container .product_btn {
  text-align: center;
  margin-top: 50px;
}

.category .products_container .product_btn a {
  text-transform: uppercase;
  color: #43c3ea;
  border: 1px solid #43c3ea;
  border-radius: 5px;
  padding: 10px 20px;
}

.category .products_container .product_btn a:hover {
  background-color: #43c3ea;
  color: #fff;
}

.service_detail .service_banner_container {
  position: relative;
  height: 77vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_detail .service_banner_container .service_header {
  text-align: center;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.service_detail .service_banner_container .service_header .header {
  font-size: 45px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
}

.service_detail .service_banner_container .service_header .sub_header {
  color: #7cdbf8;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}

.service_detail .service_banner_container .service_header .btn a {
  background-color: #ff7700;
  color: #ffffff;
  padding: 10px 20px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 30px;
  border-radius: 5px;
}

.service_detail .service_banner_container .service_header .btn a i {
  margin-left: 10px;
}

.service_detail .service_banner_container .service_header .service-bread {
  margin-top: 20px;
}

.service_detail .service_banner_container .service_header .service-bread ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_detail .service_banner_container .service_header .service-bread ul li {
  margin-left: 5px;
}

.service_detail .service_banner_container .service_header .service-bread ul li a {
  color: #fff;
  cursor: pointer;
}

.service_detail .service_banner_container .service_header .service-bread ul li a i {
  margin-left: 5px;
}

.service_detail .service_banner_container .service_header .service-bread ul li .active {
  color: #43c3ea;
}

.service_detail .service_banner_container .service_banner_background_gradient {
  background: -webkit-gradient(linear, left top, right top, from(#2d3954), color-stop(85%, rgba(39, 16, 102, 0)), color-stop(0, rgba(39, 16, 102, 0)), to(#2d3954));
  background: linear-gradient(90deg, #2d3954, rgba(39, 16, 102, 0) 85%, rgba(39, 16, 102, 0) 0, #2d3954);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.service_detail .service_banner_container .service_banner_background_image {
  background-image: url(../images/product.png);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.service_detail .overview_container {
  margin: 60px 30px;
}

.service_detail .overview_container .overview .header {
  font-size: 25px;
  color: #2e2751;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.service_detail .overview_container .overview .text {
  font-size: 15px;
  line-height: 1.7;
}

.service_detail .overview_container .overview .sub_header {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #2e2751;
}

.service_detail .overview_container .overview .key_list {
  margin-left: 20px;
}

.service_detail .overview_container .overview .key_list ul li {
  margin-bottom: 10px;
  font-size: 15px;
}

.service_detail .overview_container .overview .key_list ul li i {
  margin-right: 8px;
}

.service_detail .overview_container .review {
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.service_detail .overview_container .review .header {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #2e2751;
}

.service_detail .overview_container .review .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service_detail .overview_container .review .content .first {
  margin-right: 20px;
}

.service_detail .overview_container .review .content .first .rating_no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fe7d0c;
  color: #ffffff;
  border-radius: 5px;
  padding: 9px;
}

.service_detail .overview_container .review .content .first .rating_no span {
  display: block;
  font-size: 35px;
  font-weight: 600;
}

.service_detail .overview_container .review .content .first i {
  color: #fe7d0c;
  margin-top: 10px;
  margin-right: 4px;
  font-size: 14px;
}

.service_detail .overview_container .review .content .second {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service_detail .overview_container .review .content .second .progress_container {
  font-size: 13px;
}

.service_detail .overview_container .review .content .second .progress_container .progress {
  width: 60px;
  height: 9px;
  margin: 8px 0px;
}

.service_detail .overview_container .review .content .second .progress_container .progress .progress-bar {
  background-color: #fe7d0c;
}

.service_detail .overview_container .review_form {
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #f5f7f8;
}

.service_detail .overview_container .review_form .star {
  text-align: left;
}

.service_detail .overview_container .review_form .star i {
  color: #fe7d0c;
  margin-top: 10px;
  margin-right: 4px;
  font-size: 25px;
}

.service_detail .overview_container .review_form .star span {
  color: #72ae26;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.service_detail .overview_container .review_form .review_btn a {
  text-transform: uppercase;
  background-color: #72ae26;
  font-size: 18px;
  font-weight: 600;
  display: block;
  color: #ffffff;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
}

.service_detail .process_container {
  text-align: center;
  padding: 70px 0px;
  background-color: #f5f7f8;
}

.service_detail .process_container .process_header .top_btn a {
  background-color: #72ae26;
  padding: 3px 20px;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
}

.service_detail .process_container .process_header .header {
  font-size: 25px;
  margin: 20px 0px 10px 0px;
  color: #2e2751;
  font-weight: bold;
  text-transform: uppercase;
}

.service_detail .process_container .process_header .sub_header {
  color: #2d2d2d;
  margin-bottom: 60px;
  padding: 0px 20px;
}

.service_detail .process_container .process_box_container .service_1 {
  padding: 30px;
  height: 390px;
  text-align: -webkit-center;
  text-align: -moz-center;
  background-color: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  color: #2d2d2d;
}

.service_detail .process_container .process_box_container .service_1 .trips_icon {
  color: #72ae26;
  background: #ffffff;
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.service_detail .process_container .process_box_container .service_1 .trips_details .trips_details_header {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #333333;
  margin-bottom: 20px;
}

.service_detail .services_container {
  text-align: center;
  padding: 70px 0px;
}

.service_detail .services_container .services_header .top_btn a {
  background-color: #72ae26;
  padding: 3px 20px;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
}

.service_detail .services_container .services_header .header {
  font-size: 25px;
  margin: 20px 0px 10px 0px;
  color: #2e2751;
  font-weight: bold;
  text-transform: uppercase;
}

.service_detail .services_container .services_header .sub_header {
  color: #2d2d2d;
  margin-bottom: 60px;
  padding: 0px 20px;
}

.service_detail .services_container .services_box_container .service_1 {
  text-align: -webkit-center;
  text-align: -moz-center;
  background-color: #f5f7f8;
  color: #999999;
  border: 1px solid #d9e3e8;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_detail .services_container .services_box_container .service_1 .trips_icon {
  margin-bottom: 30px;
}

.service_detail .services_container .services_box_container .service_1 .trips_icon i {
  font-size: 100px;
  font-weight: 600;
  color: #2e2751;
}

.service_detail .services_container .services_box_container .service_1 .trips_details .trips_details_header {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #2e2751;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.service_detail .related_container {
  text-align: center;
  margin: 0px 30px;
  padding: 70px 0px;
}

.service_detail .related_container .related_header .top_btn a {
  background-color: #72ae26;
  padding: 3px 40px;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
}

.service_detail .related_container .related_header .header {
  font-size: 25px;
  margin: 20px 0px;
  color: #2e2751;
  text-transform: uppercase;
  font-weight: bold;
}

.service_detail .related_container .product_1 {
  overflow-x: hidden;
  background-color: white;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 5px;
  margin: 20px 0px 30px 0px;
  height: 204px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service_detail .related_container .product_1 .icon i {
  color: #79b32f;
  font-size: 100px;
}

.service_detail .related_container .product_1 .text {
  text-align: center;
  color: #034a6a;
  font-size: 13px;
  padding: 0px 3px;
  text-transform: capitalize;
  font-weight: 700;
}

.service_detail .testimonial_container {
  padding: 70px 0px;
  background: #f7f7f7;
}

.service_detail .testimonial_container .testi_header {
  text-align: center;
}

.service_detail .testimonial_container .testi_header .top_btn a {
  background-color: #72ae26;
  padding: 3px 20px;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
}

.service_detail .testimonial_container .testi_header .header {
  font-size: 25px;
  margin: 20px 0px;
  color: #2e2751;
  text-transform: uppercase;
  font-weight: bold;
}

.service_detail .testimonial_container .testimonial_box {
  margin: 20px 30px;
}

.service_detail .testimonial_container .testimonial_box .para {
  background-color: #ffffff;
  padding: 20px;
  text-align: justify;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.8;
}

.service_detail .testimonial_container .testimonial_box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service_detail .testimonial_container .testimonial_box .info .image_container {
  height: 74px;
  width: 74px;
  margin-right: 20px;
}

.service_detail .testimonial_container .testimonial_box .info .image_container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service_detail .testimonial_container .testimonial_box .info .text_container .name_1 {
  color: #2e2751;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

.service_detail .testimonial_container .testimonial_box .info .text_container .name_2 {
  color: #2d2d2d;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .service_detail .service_banner_container {
    height: 60vh;
  }
  .service_detail .service_banner_container .service_header .header {
    font-size: 30px;
  }
  .service_detail .service_banner_container .service_header .sub_header {
    font-size: 20px;
  }
  .service_detail .service_banner_container .service_header .btn a {
    font-size: 14px;
    font-weight: 500;
  }
  .service_detail .service_banner_container .service_header .service-bread ul li a {
    font-size: 14px;
  }
  .service_detail .overview_container .overview .header {
    font-size: 20px;
  }
  .service_detail .overview_container .overview .text {
    font-size: 14px;
  }
  .service_detail .overview_container .overview .sub_header {
    font-size: 18px;
  }
  .service_detail .overview_container .overview .key_list ul li {
    font-size: 14px;
  }
  .service_detail .overview_container .review {
    margin-top: 20px;
  }
  .service_detail .overview_container .review .header {
    font-size: 18px;
  }
  .service_detail .process_container .process_box_container .service_1 {
    height: auto;
  }
}

.blog {
  padding: 40px;
}

.blog .products {
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.blog .products .image_container img {
  width: 100%;
}

.blog .products .header {
  margin: 20px;
  margin-bottom: 10px;
  color: #034a6a;
  font-size: 20px;
  font-weight: 500;
}

.blog .products .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 20px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.blog .products .para {
  margin: 0px 20px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.75);
  line-height: 1.7;
}

.blog .products .line {
  padding: 0px 5px;
}

.blog .products .product-btn {
  margin: 30px 0px 20px 20px;
}

.blog .products .product-btn i {
  opacity: 0;
  font-size: 13px;
  padding-left: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.blog .products .product-btn a {
  background-color: #e5e5e5;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.blog .products .product-btn a:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding-right: 20px;
  background-color: #d0d0d0;
}

.blog .products .product-btn a:hover i {
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.blog .side-header {
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
          box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  border-radius: 3px;
}

.blog .side-header .header {
  padding: 15px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: #2e2751;
}

.blog .side-header .list {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blog .side-header .list .image-container {
  margin-right: 10px;
}

.blog .side-header .list .text {
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  font-weight: 600;
}

.blog .side-header .list .text span a {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 13px;
}

.contact .category_banner_container {
  position: relative;
}

.contact .category_banner_container .category_header {
  position: relative;
  z-index: 3;
  padding: 50px 40px 50px;
  max-width: 600px;
}

.contact .category_banner_container .category_header .header {
  font-size: 30px;
  margin: 20px 0px 10px 0px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.contact .category_banner_container .category_header .category-bread {
  margin-bottom: 20px;
}

.contact .category_banner_container .category_header .category-bread ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .category_banner_container .category_header .category-bread ul li {
  margin-left: 10px;
}

.contact .category_banner_container .category_header .category-bread ul li a {
  color: #fff;
  cursor: pointer;
}

.contact .category_banner_container .category_header .category-bread ul li .active {
  color: #43c3ea;
}

.contact .category_banner_container .index_banner_background_gradient {
  background: -webkit-gradient(linear, left top, right top, from(#2d3954), color-stop(85%, rgba(39, 16, 102, 0)), color-stop(0, rgba(39, 16, 102, 0)), to(#2d3954));
  background: linear-gradient(90deg, #2d3954, rgba(39, 16, 102, 0) 85%, rgba(39, 16, 102, 0) 0, #2d3954);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.contact .category_banner_container .index_banner_background_image {
  background-image: url(../images/product.png);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.contact .contactus_container {
  background-color: #f4f8fa;
}

.contact .contactus_container .contact_container {
  margin: 40px 0;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
}

.contact .contactus_container .contact_container .contact_header {
  font-size: 20px;
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 10px;
  color: #2d3954;
  border-bottom: 1px solid #e7eff9;
  text-transform: uppercase;
  font-weight: 600;
}

.contact .contactus_container .contact_container form {
  padding: 15px 32px;
}

.contact .contactus_container .contact_container .form-group .form-control {
  height: 54px;
  border-radius: 4px;
  font-size: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8px 12px;
  border: 1px solid #43c3ea;
  background-clip: initial;
}

.contact .contactus_container .contact_container .form-group .textarea {
  height: 100px;
}

.contact .contactus_container .contact_container .form-group .submit {
  width: 100%;
  background-color: #43c3ea;
  color: #ffffff;
  padding: 10px 12px;
  margin-top: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.contact .contactus_container .contact_container .reachus_container {
  padding: 15px 32px;
}

.contact .contactus_container .contact_container .reachus_container .reachus_title {
  font-size: 20px;
  color: #2d3954;
  margin-bottom: 5px;
}

.contact .contactus_container .contact_container .reachus_container .address {
  font-size: 15px;
  margin-bottom: 15px;
}

.contact .contactus_container .contact_container .reachus_container i {
  color: #43c3ea;
  padding-right: 5px;
}
/*# sourceMappingURL=style.css.map */